In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Geraldton,AU,2021-09-27 20:02:07,-28.7667,114.6000,50.41,93,40,8.05
1,1,Porto Santo,PT,2021-09-27 20:02:08,33.0720,-16.3415,71.98,73,20,4.61
2,2,Punta Arenas,CL,2021-09-27 19:57:51,-53.1500,-70.9167,50.11,57,75,33.38
3,3,Jamestown,US,2021-09-27 20:00:00,42.0970,-79.2353,77.02,56,100,10.00
4,4,Tiksi,RU,2021-09-27 20:02:08,71.6872,128.8694,31.96,98,100,3.76

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind  = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Jamestown,US,2021-09-27 20:00:00,42.0970,-79.2353,77.02,56,100,10.00
6,6,Gewane,ET,2021-09-27 20:02:09,10.1664,40.6453,88.95,31,76,6.62
7,7,Castro,BR,2021-09-27 20:01:30,-24.7911,-50.0119,82.65,41,16,2.13
8,8,Faanui,PF,2021-09-27 20:02:09,-16.4833,-151.7500,79.41,74,7,19.17
9,9,Kavieng,PG,2021-09-27 20:02:10,-2.5744,150.7967,81.88,75,97,9.10
10,10,Hilo,US,2021-09-27 20:02:10,19.7297,-155.0900,81.81,90,95,8.37
13,13,Roma,US,2021-09-27 20:02:11,43.2128,-75.4557,76.86,67,40,4.61
16,16,Kudat,MY,2021-09-27 20:02:12,6.8837,116.8477,78.62,87,16,3.27
18,18,Dom Pedrito,BR,2021-09-27 20:02:13,-30.9828,-54.6731,78.57,67,0,3.09
24,24,Bandarbeyla,SO,2021-09-27 20:02:15,9.4942,50.8122,77.36,88,2,14.97

In [18]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [19]:
# Make a copy of the preferred_cities_df, then
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3     Jamestown      US     77.02  42.0970  -79.2353
6        Gewane      ET     88.95  10.1664   40.6453
7        Castro      BR     82.65 -24.7911  -50.0119
8        Faanui      PF     79.41 -16.4833 -151.7500
9       Kavieng      PG     81.88  -2.5744  150.7967
10         Hilo      US     81.81  19.7297 -155.0900
13         Roma      US     76.86  43.2128  -75.4557
16        Kudat      MY     78.62   6.8837  116.8477
18  Dom Pedrito      BR     78.57 -30.9828  -54.6731
24  Bandarbeyla      SO     77.36   9.4942   50.8122

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
        # Grab the first hotel from the results and store the name.
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyA0TNrroC55KC49DbjuTHBdzqfXzyVBcRE',
 'location': '20.15,92.9'}

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Jamestown,US,77.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Gewane,ET,88.95,10.1664,40.6453,Ayelu pension
7,Castro,BR,82.65,-24.7911,-50.0119,CHACARA BAILLY
8,Faanui,PF,79.41,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Kavieng,PG,81.88,-2.5744,150.7967,Nusa Island Retreat
10,Hilo,US,81.81,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Roma,US,76.86,43.2128,-75.4557,Wingate By Wyndham Rome
16,Kudat,MY,78.62,6.8837,116.8477,Dream Garden Hotel
18,Dom Pedrito,BR,78.57,-30.9828,-54.6731,Hotel Alexandre
24,Bandarbeyla,SO,77.36,9.4942,50.8122,JABIR HOTEL

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))